bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1678327209545/work
Brotli @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_01vdzesc6m/croots/recipe/brotli-split_1659616063272/work
certifi==2022.12.7
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1666833969769/work
click @ file:///opt/concourse/worker/volumes/live/2d66025a-4d79-47c4-43be-6220928b6c82/volume/click_1646056610594/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1666829856394/work
dash @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ff2yowtsa7/croot/dash_1669048380845/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1679106361958/work
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1688760352003/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1688766508643/work
Flask @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4eo947bliu/croot/flask_1671217361971/work
Flask-Compress @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_535gwx7r3_/croot/flask-compress_1668714952405/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1677670132771/work
h5py @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7fnj4n39p5/croots/recipe/h5py_1659091379933/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6adj7x0ejx/croot/jinja2_1666908137966/work
kaleido==0.2.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///Users/runner/miniforge3/conda-bld/lz4_1675806816115/work
MarkupSafe @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d4a9444f-bd4c-4043-b47d-cede33979b0fve7bm42r/croots/recipe/markupsafe_1654597878200/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312797715/work
netCDF4 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_45tuxgni29/croot/netcdf4_1673455473200/work
numexpr==2.8.4
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8cgikbzvtd/croot/numpy_and_numpy_base_1672336184666/work
packaging==22.0
pandas==2.0.0
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
Pillow==9.4.0
plotly @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b7601a7c-071f-4424-ad46-f00f32c1766ccwgx0ywh/croots/recipe/plotly_1658160061089/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775164927/work
pyarrow==11.0.0
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857336495/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772684107/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cct5tq4h70/croot/tenacity_1682972283326/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150243998/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1688005749963/work
Werkzeug @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_fegt3z60s3/croot/werkzeug_1679489762631/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1687791884985/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp==3.16.1
