/* This creates a skinny side bar fixed to the left of the page */
.header {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   height = 10rem;
#   padding: 2rem 1rem;
   background-color: #384147;
   border-bottom: thick black solid;
 }
  

